{% set taskIsDone = task.isDone %}
<div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100 {% if taskIsDone %}bg-light{% else %}bg-warning{% endif %}">
        <div class="card-header">
            <h4 class="float-right">
                {% if taskIsDone %}<span class="glyphicon glyphicon-ok text-success"></span>{% else %}<span class="glyphicon glyphicon-remove text-danger"></span>{% endif %}
            </h4>
        </div>
        <div class="card-body">
            <a href="{{ path('task_edit', {'id' : task.id }) }}">
                <h4 class="card-title text-center">
                   {{ task.title|title | u.truncate(16, '...', true) }}
                </h4>
                <p class="card-text text-justify">{{ task.content|u.truncate(150, '...', true) }}</p>
            </a>
        </div>
        <div class="row">
            <div class="col-12 small pr-4 pb-3">
                <div class="float-left font-weight-light pl-3">
                    {{ task.createdAt | date("m/d/Y")}}
                </div>
                {% if task.user %}
                    <div class="float-right font-weight-bold">
                        {{ task.user.username | upper }}
                    </div>
                {% else %}
                    <div class="float-right font-weight-bold">Anonyme</div>
                {% endif %}
            </div>
            <div class="col-5">
                {% if is_granted('DELETE', task) %}
                    <form action="{{ path('task_delete', {'id' : task.id }) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
                        <button class="btn btn-danger btn-sm btn-block btn-shadow"><span class="glyphicon glyphicon-trash text-white"></span></button>
                    </form>
                {% else %}

                    <button disabled class="btn btn-dark btn-sm btn-block btn-shadow"><span class="glyphicon glyphicon-trash text-white"></span></button>
                {% endif %}
            </div>
            <div class="col-7">
                <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                    <button class="btn btn-sm btn-block {% if not task.isDone %}btn-shadow btn-success">Marquer comme faite{% else %} btn-shadow-light btn-warning">Marquer non terminée{% endif %}
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>