{% extends 'base.html.twig' %}

{% block body %}
    {% include 'partials/_header_default.html.twig' with {'header_title': 'Modifier la tâche '~ task.title} %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}
                    <div class="form-row">
                        <div class="col-12">
                            {{ form_row(form.title) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.content) }}
                        </div>

                        <div class="col-6">
                            <a href="{{ app.request.headers.get('referer') }}" class="float-left btn btn-primary">
                                <span class="d-none d-lg-block font-weight-bold">Retour à la liste des tâches</span>
                                <span class="glyphicon glyphicon-arrow-left text-white d-lg-none mx-4"></span>
                            </a>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn-shadow float-right btn btn-success pull-right">Sauvegarder</button>
                        </div>
                    </div>
                    <input type="hidden" name="referer" value="{{app.request.headers.get('referer')}}"/>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
