{% extends 'base.html.twig' %}

{% block body %}
    {% include 'partials/_header_default.html.twig' with {'header_title': 'Modifier mot de passe ' ~ user.username} %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a role="button" class="btn-shadow float-right btn btn-info" href="{{ path('user_edit', {'id' : user.id}) }}">Modifier les infos</a>
            </div>
            <div div class="col-12">
                {{ form_start(form, {'action' : path('user_password_edit', {'id' : user.id})}) }}
                <div class="form-row">
                    {% if form.actualPassword is defined%}
                        <div class="col-12">
                            {{ form_row(form.actualPassword) }}
                        </div>
                    {% endif %}
                    <div class="col-12">
                        {{ form_row(form.newPassword) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(form.confirmPassword) }}
                    </div>
                    <div class="col-6">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('user_list') }}" class="float-left btn btn-primary">Retour à la liste des utilisateurs</a>
                        {% endif %}
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn-shadow float-right btn btn-success
                        pull-right">Sauvegarder</button>
                    </div>
                    <input type="hidden" name="referer" value="{{app.request.headers.get('referer')}}"/>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

